.error {
   color:red;
 }

.input_fields { padding: 20px; margin: 10px 0px;background-color: #18b19459; }

.input_tags {
    height: 45px;
    font-size: 22px;
    width: 100%;
    border:1px solid white;
}

md-select{ margin: 1px 0 11px; }
.margin-lr { margin: 0px 20px;}
html{ background-color: white;}
label{ color: green;}
.m-t-2 {
    margin-top: 2em;
}

.m-t-1 {
    margin-top: 9px;
}

.search_input {
    height: 37px;
    margin-top: 6px;
    margin-right: 11px;
}





@media (max-width:600px ) {
    .input_tags{ font-size: 16px;}

  }

